﻿@model DCIS_Management_Information_System.Models.Discussion

<div class="modal-dialog" id="ModalPopUp">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Edit Topisc </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        @using (Html.BeginForm("UpdateTopic", "Discussion", FormMethod.Post))
    {

        <div class="modal-body">
            <div class="form-horizontal" style="padding-bottom:5px">

                <!-- <input type="hidden" id="offered_course_discussion_id" name="offered_course_discussion_id" value="" /> -->
                @Html.HiddenFor(m => m.offered_id);
                @Html.HiddenFor(m => m.offered_course_discussion_id)
                <!-- <input type="text" id="item_discussion_title" name="item_discussion_title" class="form-control" value="" />-->
                @Html.TextBoxFor(model => model.discussion_title, new { @class = "form-control" })
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" id="submitChanges" value="click" class="btn btn-primary float-right">Save changes</button>
        </div>
}
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        $('.btn-warning').click(function () {

            var std = $(this).attr('id');

            var title = $(this).attr('title');

            alert("sz: " + std);

            //var Id = $(this).attr('id');

            $('#myModal').modal({

                backdrop: 'static',

                keyboard: false

            })



        });



    });


</script>