﻿@{
    ViewBag.Title = "DisplayInvitation";
    var pending = (List<User>)ViewData["pendingUser"];
    var acceptedStudent = (List<User>)ViewData["acceptedStudent"];
    var invitedTeacher = (List<User>)ViewData["invitedTeacher"];

}
@{
    int count1 = 0;
    int count2 = 0;
}

@{
    ViewBag.Title = "Topics";
    var details = (List<Topic>)ViewData["ListOfTopics"];
    var details1 = (List<Topic>)ViewData["ListOfArchivedTopics"];
}
@{
    int count = 0;
    int ndx = 0;
    var x = "";
    int y = 0;
    var thread = "Archived";

    var CourseID = Request.QueryString["offered_course_id"];
}
@model DCIS_Management_Information_System.Models.Discussion

<script>

    $(document).ready(function () {



        $('.btn-bootstrap-dialog').click(function () {


            var url = $(this).data('url');

            var title = $(this).attr('title');



            $.get(url, function (data) {

                $('#bootstrapDialog').html(data);


                $('#bootstrapDialog').modal('show');

                // alert(title)

                $('#ModalPopUp').find('#myModalLabel').html($(this).attr("title"));

            });





        });

        $('.btn-danger').click(function () {

            var std = $(this).attr('id');

            //var Id = $(this).attr('id');

            $('#myModal1').modal({

                backdrop: 'static',

                keyboard: false

            })

                .on('click', '#confirmOk', function (e) {


                });

        });

    });

</script>
<div class="container">
    <div class="title">

    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Tabs with icons on Card -->
            <div class="card card-nav-tabs">
                <div class="card-header card-header-primary">
                    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs nav-fill" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link" href="#student" data-toggle="tab">
                                        @ViewBag.Result3
                                        Student

                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#topic" data-toggle="tab">
                                        <!--- <i class="material-icons">chat</i> -->
                                        Discussion
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div><!--card header-->
                <div class="card-body ">
                    <div class="tab-content text-center">
                        <div class="tab-pane active" id="student">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <h3>Pending</h3>
                                    <hr />
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Number</th>
                                                <th scope="col">Full Name</th>
                                                <th scope="col">Option</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var student in pending)
                                            {
                                                count1++;
                                                <tr>
                                                    <td>@count1</td>
                                                    <td>@student.lname,  @student.fname @student.mname</td>
                                                    <td>
                                                        <a href="AcceptPerson?UserId=@student.schoolId" class="btn btn-primary">Accept</a>
                                                        <a href="DeclinePerson?UserId=@student.schoolId" class="btn btn-danger">Decline</a>
                                                    </td>
                                                </tr>
                                            }
                                            @if (count1 == 0)
                                            {
                                            <tr>
                                                <td></td>
                                                <td>No Pending Students</td>
                                                <td></td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-1"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div class="input-group-btn">
                                        <hr />
                                        <h3 class="d-inline-block">List of Students</h3>
                                    </div>
                                    <hr />
                                    <table class="table table-hover" id="userTable">
                                        <thead>
                                            <tr>
                                                <th scope="col">Number</th>
                                                <th scope="col">Full Name</th>
                                                @*<th scope="col"></th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var student in acceptedStudent)
                                            {
                                                count2++;
                                                <tr>
                                                    <td>@count2</td>
                                                    <td>@student.lname,  @student.fname @student.mname</td>
                                                    @*<td>
                                                        @Html.ActionLink("Remove", "DeleteStudent", "StudentInvitation", new { userID = @student.schoolId }, new { @class = "btn btn-danger" })

                                                    </td>*@
                                                </tr>
                                            }                   
   
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-1"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">

                                    <div>
                                        <h3 class="d-inline-block" style="margin-left:10px">List of Teachers</h3>
                                    </div>
                                    <hr />
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Number</th>
                                                <th scope="col">Full Name</th>
                                                @*<th scope="col"></th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var student in invitedTeacher)
                                            {
                                                count2++;
                                                <tr>
                                                    <td>@count2</td>
                                                    <td>@student.lname,  @student.fname @student.mname</td>
                                                    <!--remove teacher button-->
                                                                        @*<td>
                                                        <a href="DeleteStudent?userID=@student.user_id" class="btn btn-danger">Remove</a>
                                                    </td>*@
                                                </tr>
                                            }
                                            @if (count2 == 0)
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td>No Students Currently in Class</td>
                                                    <td></td>
                                                </tr>
                                             }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <span class="input-group-btn">
                                <a href="../StudentInvitation/UserList" class="btn btn-primary float-right">Add Members</a>
                            </span>

                        </div>
                        <div class="tab-pane" id="topic">
                            <div class="row">

                                <div class="card mt-0 mb-0">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-success float-left " data-toggle="modal" data-target="#modalAddTopic" style="margin-left:10px;">
                                            Add Topic
                                        </button>
                                        <button type="button" class="btn btn-dark float-right" id="showArchive" style="margin-left:10px; ">Archived Topics</button>
                                    </div>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="modalAddTopic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Add Topic</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            @using (Html.BeginForm("AddTopic", "Discussion", FormMethod.Post))
                                            {
                                                <div class="modal-body">

                                                    <input type="hidden" id="offeredID" value="@ViewBag.Offered_Id" name="offeredID" />
                                              
                                                    <div class="input-group flex-nowrap">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="addon-wrapping">Title</span>
                                                        </div>
                                                        <input type="text" value="" name="TopicTitle" class="form-control col-md-12" />
                                                    </div>


                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            }


                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-xs-2">#</th>
                                        <th scope="col">Discussion Title</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in details)
                                    {

                                        if (@item.status == 1)
                                        {
                                            count++;
                                           
                                            <tr>
                                                <th class="col-xs-2 ">@count</th>
                                                <td>
                                                    <!--Html.ActionLink(item.discussion_title, "Controller","Discussion",new { },null)-->
                                                    <a href="../TopicDiscussion/Index?OfferedCourseID=@CourseID&TopicID=@item.topic_id">@item.discussion_title</a>
                                                </td>
                                                <td class="">

                                                    @Html.ActionLink("Archive", "ArchiveDetails", "Discussion", new { id = @item.topic_id, offered_id = @item.offered_id }, new { @class = "btn btn-danger archiveTopic" })
                                                    <input type="button" class="btn-bootstrap-dialog  btn btn-warning edit-modal " value="Edit" data-url="@Url.Action("GetEditDetails", "Discussion", new { id =@item.topic_id  })" />

                                                    <div class="modal fade" id="bootstrapDialog" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true"></div>


                                                </td>

                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>

                            <hr />
                            <h4>Archived Topics</h4>
                            <!--Archived ni dapit-->

                            <table class="table table-striped" id="archivedTable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Discussion Title</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in details)
                                    {
                                        count++;
                                        if (@item.status != 1)
                                        {

                                            ndx++;
                                            x = "Archived";
                                            thread = "Restore";
                                            y = 1;
                                            <tr>
                                                <th scope="row">@ndx</th>
                                                <td>
                                                    @Html.ActionLink(@item.discussion_title,
                                                    "Controller",
                                                    "Discussion",
                                                    new { },
                                                    null

                                                    )
                                                </td>
                                                <td>

                                                    @Html.ActionLink("Restore", "RestoreArchiveDetails", "Discussion", new { id = @item.topic_id, offered_id = item.offered_id }, new { @class = "btn btn-warning restoreTopic" })
                                                </td>

                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>





                        </div>
                    </div><!--cardbody-->
                </div>
            </div> <!--col md-->
        </div> <!--row-->
    </div><!--container-->

</div>
<!-- End Tabs with icons on Card -->

<script>




</script>


<script>
    $(".archiveTopic").on("click", function () {
        return confirm("Do you want to archive topic?");
    });
    $(".restoreTopic").on("click", function () {
        return confirm("Do you want to restore topic?");
    });
</script>
<script>
    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });

        var activeTab = localStorage.getItem('activeTab');


        console.log(activeTab);

        if (activeTab) {
            $('a[href="' + activeTab + '"]').tab('show');
            $('a[href="' + activeTab + '"]').tab('show');
        }
    });

</script>
<script>
    $(document).ready(function () {
        $("#archivedTable").hide();
        $("#showArchive").click(function () {

            $("#archivedTable").toggle(1000);

        });
    });

</script>
<script>
    $(document).ready(function () {
        $('#userTable').DataTable({
            pageResize: true
        });
    });
</script>
