﻿
@{
    ViewBag.Title = "Dashboard";
    var list = (List<DCIS_Management_Information_System.Models.SchedStud>)ViewData["data"];

}
<style>
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .row > div[class*='col-'] {
        display: flex;
     }

</style>
<div class="container">

    <br>
    <h2>Enrolled Courses</h2>
    <div class="row">
        @foreach (var i in list)
    {
        <div class="col-md-4">
            <div class="column">

                <!-- Post-->
                <div class="post-module">
                    <!-- Thumbnail-->
                    <div class="thumbnail">
                        <div class="date">
                            <a href="Delete?offered_id=@i.offered_id" style="color:white; font-size:15px">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </div>
                        <img src="../../Content/backgroun.jpeg" class="img-responsive" alt="">
                    </div>
                    <!-- Post Content-->
                    <div class="post-content">
                        <div class="category"> @i.code</div>
                        <h1 class="title"> @Html.ActionLink(i.description,"Topics","Discussion", new { offered_course_id = i.offered_id},null)</h1>
                        <h2 class="sub_title">@i.day @i.start_time - @i.end_time</h2>
                
                    </div>
                </div>
            </div>
        </div>
}
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="column">

                <!-- Post-->
                <div class="post-module" style="text-align:center;">
                    <!-- Thumbnail-->
                    <h1 class="title" style="font-size:250px;">
                    <a href="/Home/SearchSchedule" class="card-link">+</a></h1>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(window).load(function () {
        $('.post-module').hover(function () {
            $(this).find('.description').stop().animate({
                height: "toggle",
                opacity: "toggle"
            }, 300);
        });
    });
</Script>
