﻿
@{
    ViewBag.Title = "Dashboard";
    var list = (List<DCIS_Management_Information_System.Models.ScheduleModel>)ViewData["data"];
}
<style>
    .panel-heading {
        background-image: url("../../Content/bg2.jpg");
        background-position: center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
</style>
<h2>TEACHER</h2>
    <div class="container">

        <br><br>
            <div class="row">
                @foreach (var i in list)
    {
            <div class="col-md-4">
                <div class="column">

                    <!-- Post-->
                    <div class="post-module">
                        <!-- Thumbnail-->
                        <div class="thumbnail">
                           
                            <img src="../../Content/backgroun.jpeg" class="img-responsive" alt="">
                        </div>
                        <!-- Post Content-->
                        <div class="post-content">
                            <div class="category"> @i.code</div>
                            <h1 class="title">
                                @Html.ActionLink(
i.description,
"Topics",
"Discussion",
new { offered_course_id = i.offered_id },
null)
                            </h1>
                            <h2 class="sub_title">@i.day @i.start_time - @i.end_time</h2>

                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">
     <div class="panel panel-info" style="padding:0;border:1px solid #DCDCDC;border-radius:10px;overflow-y:auto">
         <div class="panel-heading" id="header1" style="padding:10px;">


             @Html.ActionLink(
     i.code,
     "Topics",
     "Discussion",
     new { offered_course_id = i.offered_id },
     null)
             <h1 class="panel-title">@i.day @i.start_time - @i.end_time<br></h1>
         </div>
         <div class="panel-footer" style="padding:10px;">@i.description</div>
     </div>
 </div>-->

}

            </div>
        
    </div>
    
