﻿

@{
    ViewBag.Title = "UserList";
    var list = (List<DCIS_Management_Information_System.Models.SchedStud>)ViewData["data"];

}
<br>
<h2>Search a Course</h2>

<table id="userTable" class="display">
    <thead>
        
        <tr>
            <th>@Html.DisplayName("Course Code")</th>
            <th>@Html.DisplayName("Desciption")</th>
            <th>@Html.DisplayName("Schedule")</th>
            <th>@Html.DisplayName("Room")</th>
            <th>@Html.DisplayName("Action")</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var i in list)
        {

        <tr>
            <td class="Course Code">@i.code</td>
            <td class="Description">@i.description</td>
            <td class="Schedule">@i.start_time - @i.end_time</td>
            <td class="room">@i.room_name</td>
           
                <td class="Action">
                    <a href="EnrollStudent?offered_id=@i.offered_id" class="btn btn-success">Enroll</a>
                </td>

        </tr>
        }

    </tbody>
</table>
<a href="../Home/DashboardStudent" class="btn btn-primary">Return</a>
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable({
                pageResize: true
            });
        });
    </script>
}
