﻿<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@{
    ViewBag.Title = "DisplayInvitation";
    var pending = (List<User>)ViewData["pendingUser"];
    var acceptedStudent = (List<User>)ViewData["acceptedStudent"];
    var invitedTeacher = (List<User>)ViewData["invitedTeacher"];

}

@{
    int count1 = 0;
    int count2 = 0;
}

@section Styles {
    <link href="@Url.Content("~/Content/displayInvitation.css")" rel="stylesheet" type="text/css" />

}
<br />
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item active" id="first-tab">
        <a class="nav-link " id="home-tab" data-toggle="tab" href="#course-discussion" role="tab" aria-controls="home" aria-selected="false">Course Discussion</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#students" role="tab" aria-controls="profile" aria-selected="true">Student</a>
    </li>

</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade in active" id="course-discussion" role="tabpanel" aria-labelledby="home-tab">
        ey
    </div>
    <div class="tab-pane fade show active"  id="students" role="tabpanel" aria-labelledby="profile-tab">
        <br />
        
    </div>
</div>


<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable({
                pageResize: true
            });
        });
    </script>
}