﻿<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@{
    ViewBag.Title = "DisplayInvitation";
    var pending = (List<User>)ViewData["pendingUser"];
    var acceptedStudent = (List<User>)ViewData["acceptedStudent"];
    var invitedTeacher = (List<User>)ViewData["invitedTeacher"];

}

@{
    int count1 = 0;
    int count2 = 0;
}

@section Styles {
    <link href="@Url.Content("~/Content/displayInvitation.css")" rel="stylesheet" type="text/css" />

}
<br />
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" id="first-tab">
        <a class="nav-link " id="home-tab" data-toggle="tab" href="#course-discussion" role="tab" aria-controls="home" aria-selected="true">Course Discussion</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#students" role="tab" aria-controls="profile" aria-selected="false">Student</a>
    </li>

</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade " id="course-discussion" role="tabpanel" aria-labelledby="home-tab">
        ey
    </div>
    <div class="tab-pane fade show active" id="students" role="tabpanel" aria-labelledby="profile-tab">
        <br />


        <hr />

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="input-group-btn">
                    <h3 class="d-inline-block">List of Teachers</h3>

                </div>
                <hr />
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Number</th>
                            <th scope="col">Full Name</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in invitedTeacher)
                        {
                            count2++;
                            <tr>
                                <td>@count2</td>
                                <td>@student.lname,  @student.fname @student.mname</td>
                                <!--remove teacher button-->
                                @*<td>
                                        <a href="DeleteStudent?userID=@student.user_id" class="btn btn-danger">Remove</a>
                                    </td>*@
                            </tr>
                        }
                        @if (count2 == 0)
                        {
                            <tr>
                                <td></td>
                                <td>No Students Currently in Class</td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="input-group-btn">
                    <h3 class="d-inline-block">List of Students</h3>

                </div>
                <hr />
                <table class="table table-hover" id="userTable">
                    <thead>
                        <tr>
                            <th scope="col">Number</th>
                            <th scope="col">Full Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in acceptedStudent)
                        {
                            count2++;
                            <tr>
                                <td>@count2</td>
                                <td>@student.lname,  @student.fname @student.mname</td>
                            </tr>
                        }
                        @if (count2 == 0)
                        {
                            <tr>
                                <td></td>
                                <td>No Students Currently in Class</td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>

    </div>
</div>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable({
                pageResize: true
            });
        });
    </script>
}
