﻿
@{
    ViewBag.Title = "GroupList";
    var list = (List<Group>)ViewData["group"];
    int count = 0;
}

<style>
    .panel-heading {
        background-image: url("../../Content/bg.jpg");
        background-position: center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    a {
        color: white;
    }
</style>
<!--STYLE END-->




<div class="container">
    <div class="input-group-btn">
        <h3 class="d-inline-block">My Groups</h3>
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal">Create Group</button>
        </span>
        <hr />
    </div>
    <br><br>
    <div class="row">
        @foreach (var i in list)
        {
            count++;
            <div class="col-md-4">
                <div class="panel panel-info" style="padding:0;border:1px solid #DCDCDC;border-radius:10px;overflow-y:auto">
                    <div class="panel-heading" id="header1">
                        <a href="../StudentInvitation/GroupDiscussion?GroupID=@i.group_id">
                            <h2>
                                <br />@i.group_name<br><br />
                            </h2>
                        </a>
                    </div>
                    <div class="panel-footer">@i.description</div>
                </div>
            </div>

        }
        @if (count == 0)
        {
            <div class="align-content-center" type="text">No Groups</div>

        }
    </div>

</div>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header float-left">

                <h4 class="modal-title">Create Group</h4>
            </div>
            <div class="modal-body">

                <form method="post" action="../StudentInvitation/AddGroup">
                    <input placeholder="Group Name" name="groupname" type="text" class="form-control col-md-12" />
                    <br />
                    <textarea class="form-control col-md-12" placeholder="Description" name="description"></textarea>
                    <br />
                    <input type="text" name="creator_id" hidden value="1" />
                    <input type="submit" class="btn btn-success" value="Add Group" />

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Return</button>
            </div>
        </div>

    </div>
</div>
