﻿
@{
    ViewBag.Title = "GroupList";
    var list = (List<Group>)ViewData["group"];
    int count = 0;
}

<style>
    .panel-heading {
        background-image: url("../../Content/bg.jpg");
        background-position: center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    a {
        color: white;
    }
</style>
<!--END STYLE-->




<div class="container">
    <h1 class="d-inline-block">My Groups</h1><hr />
    <br><br>
    <div class="row">
        @foreach (var i in list)
        {
            count++;
            <div class="col-md-4">
                <div class="panel panel-info" style="padding:0;border:1px solid #DCDCDC;border-radius:10px;overflow-y:auto">
                    <div class="panel-heading" id="header1">
                        <a href="../StudentInvitation/Group?GroupID=@i.group_id">
                            <h2>
                                <br />@i.group_name<br><br />
                            </h2>
                        </a>
                    </div>
                    <div class="panel-footer">@i.description</div>
                </div>
            </div>

        }
        @if (count == 0)
        {
            <div class="align-content-center" type="text">No Groups</div>

        }
    </div>

</div>


