﻿@{
    var grouplist = (List<DCIS_Management_Information_System.Models.GroupMembers>)ViewData["GroupMembers"];
    var groupcreator = (List<DCIS_Management_Information_System.Models.GroupMembers>)ViewData["GroupCreator"];
    var GroupId = Convert.ToInt32(Request.QueryString["GroupID"]);

    //BEGIN JAN//
    var group = (List<Group>)ViewData["GroupDetails"];
    var rs = (List<Group_Discussion_Entry>)ViewData["Entries"];
    var replies = (List<Group_Discussion_Reply>)ViewData["Replies"];

    var count = 0;
    //END JAN//
}

<style>
    input#reply_post {
        border: none;
        border-bottom: 1px solid gray;
        width: 100%;
    }

    textarea:focus, input:focus {
        outline: none;
    }

    form {
        display: inline;
    }

    textarea {
        resize: none;
    }

    h1 {
        text-align: center;
        padding-top: 40px;
        font-family: 'Questrial',sans-serif;
        font-weight: bold;
    }

    h3 {
        text-align: center;
        font-family: 'Questrial',sans-serif;
    }

    #backgroundhead {
        background-image: linear-gradient(to right, #1488CC, #2B32B2);
    }
</style>

<script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
<script src="~/Scripts/semantic/semantic.min.js"></script>

<div class="container">
    <div class="title">

    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Tabs with icons on Card -->
            <div class="card card-nav-tabs">
                <div class="card-header card-header-primary">
                    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs nav-fill" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#members" data-toggle="tab">
                                        @ViewBag.Result3
                                        Student

                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#topic" data-toggle="tab">
                                        <!--- <i class="material-icons">chat</i> -->
                                        Discussion
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div><!--card header-->
                <div class="card-body ">
                    <div class="tab-content text-center">
                        <div class="tab-pane active" id="members">
                            <br />
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div class="input-group-btn">
                                        <h3 class="d-inline-block">List of Group Members</h3>
                                    </div>
                                    <hr />
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Number</th>
                                                <th scope="col">Full Name</th>
                                                <th scope="col">Member Type</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var member in grouplist)
                                            {
                                                <tr>
                                                    <td>@member.schoolId</td>
                                                    <td>@member.lname , @member.fname @member.mname .</td>
                                                    <td>@member.userType</td>
                                                    <td><button class="btn btn-danger">Remove</button></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-1"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-10">
                                    <h4 style="float:left; padding-left:100px;">Group Creator:</h4>
                                    @foreach (var c in groupcreator)
                                    {
                                        <i style="float:left; padding-left:20px;">@c.lname , @c.fname @c.mname . (@c.schoolId, @c.userType)</i>
                                    }
                                </div>
                                <div class="col-md-2">
                                    <span style="float:right; padding-right:145px;">
                                        <a class="btn btn-primary" href="UserList?GroupId=@GroupId"> Add Members</a>
                                    </span>
                                </div>
                            </div>


                            @*<div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <div class="input-group-btn">
                                            <hr />
                                            <h3 class="d-inline-block">List of Group Members</h3>
                                        </div>
                                        <hr />
                                        <table class="table table-hover" id="userTable">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Number</th>
                                                    <th scope="col">Full Name</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <p>body</p>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>*@

                        </div>
                        <div class="tab-pane" id="topic">
                            <div class="row">
                                <!--BEGIN GROUP DISCUSSION CONTENT-->
                                <div id="backgroundhead" style="height:250px; width:100%; border-radius:10px; border:1px solid #DCDCDC; padding:10px; ">
                                    <input style="float:right; width:160px;" class="btn btn-light" value="Submit Deliverables" type="button">
                                    @foreach (var g in group)
                                    {
                                        <h1 style="color:white; font-size:50px;">@g.group_name</h1>
                                        <h3 style="color:white;">@g.description</h3>
                                    }
                                </div>

                                <br />

                                <div class="content" id="discussion_append" style="width:100%; margin-top:20px;">
                                    <div id="discussion" style="width:100%;float:left; border-radius:10px; border:1px solid #DCDCDC; padding:25px;">
                                        <fieldset id="SubmitPost">
                                            <textarea name="post" id="textarea1" placeholder="Share with your class..." rows="4" wrap="soft" class="form-control" style="min-width: 100%"></textarea>
                                            <div id="filename" style="margin-top:5px;text-align:left;"></div>
                                            <br />
                                            <div style="float:right;">
                                                <form id="form_uploadFile" action="" method="post" enctype="multipart/form-data">
                                                    <!--<label class="glyphicon glyphicon-paperclip" aria-hidden="true" style="margin-right:10px; cursor:pointer;"><input name="file" id="file" type="file" style="display:none;"></label>-->
                                                    <label class="fas fa-file-upload" style="font-size:30px; cursor:pointer; margin-right:10px;"><input name="file" id="file" type="file" hidden></label>
                                                </form>
                                                <input id="TopicID" type="text" name="topic_id" value="@GroupId" hidden />
                                                <input style="margin-bottom:15px; width:75px;" id="SubmitPostButton" type="submit" class="btn btn-primary" value="Post" />
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>


                                <div id="discussion_entries" style="width:100%;">

                                    @foreach (var item in rs)
                                    {
                                        count++;
                                        <div class="ui blue ribbon label" style="margin-right:980px; margin-bottom:-10px; margin-top:20px;">Post</div>
                                        <div id="discussion_entry" style="  width:100%; float:left; border-radius:10px; border:1px solid #DCDCDC; padding:25px;">
                                            <!--<img id="user_image" src="/Content/dognew.jpg" class="img-circle" style="width:75px; height:75px; float:left;" />-->
                                            <div style="font-weight:bold; text-align:left;" id="user_name">Jan Richard Buniel</div>
                                            <div id="datetime" style="text-align:left;">@item.time</div>
                                            <br />
                                            <div id="post_content" style="text-align:left;">
                                                @item.post
                                            </div>
                                            @if (item.filename != null)
                                            {
                                                <hr /><div style="text-align:left;"><div style="width:90px; margin-top:5px; float:left;">Attached File:</div><a href="../TopicDiscussion/Download?filename=@item.filename"><input type="submit" class="btn btn-secondary" value=@item.filename.Split('_')[0] .@item.filename.Split('.')[1] /></a></div>
                                            }
                                        </div>


                                        <div id="reply_panel_@item.group_discussion_entry_id">

                                            @foreach (var rp in replies)
                                            {
                                                if (rp.group_discussion_entry_id == item.group_discussion_entry_id)
                                                {
                                                    <div id="discussion_reply" style="height:100%; width:100%; float:left; border-radius:10px; border:1px solid #DCDCDC; padding:25px;">
                                                        <!--<img id="user_image" src="/Content/dognew.jpg" class="img-circle" style="width:50px; height:50px; float:left;" />-->
                                                        <div style="font-weight:bold; text-align:left;" id="user_name">Jan Richard Buniel <a class="ui tag teal label" style="margin-left:15px; cursor:default;">Reply</a></div>
                                                        <div id="datetime" style="text-align:left;">@rp.time</div>
                                                        <br />
                                                        <div id="post_content" style="text-align:left;">
                                                            @rp.post
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>

                                        <div id='disc_reply_panel_@item.group_discussion_entry_id'>
                                            <input type="button" id='discussion_reply_panel_@item.group_discussion_entry_id' class='btn btn-light' value='Reply' style='min-width:100%; height:50px; border-radius:10px;  border:1px solid #DCDCDC;' onclick="reply(@item.group_discussion_entry_id)" />
                                        </div>
                                    }

                                    @if (count == 0)
                                    {
                                        <div id="warning" style=" width:100%; margin-top:20px; float:left; border-radius:10px; border:1px solid #DCDCDC; padding:25px;">
                                            <p style="text-align:center;">No posts yet.</p>
                                        </div>
                                    }
                                </div>

                                <!--ENG GROUP DISCUSSION CONTENT-->
                            </div>

                            <hr />
                        </div>
                    </div><!--cardbody-->
                </div>
            </div> <!--col md-->
        </div> <!--row-->
    </div><!--container-->
</div>

<script>
    function reply(course_discussion_id) {
        var panel = $("#disc_reply_panel_" + course_discussion_id);

        var ToAppend = "<fieldset id='SubmitReply_" + course_discussion_id + "'><div id='discussion_reply_box' style='height:100%; width:100%; float:left; border-radius:10px; border:1px solid #DCDCDC; padding:25px;'>" +
            "<input name='topic_discussion_reply_post' id='reply_post' style='min-width: 90%;' type='text' placeholder='Add a reply...'>" +
            "<input name='topic_discussion_entry_id' value='" + course_discussion_id + "' type='hidden' />" +
            "<input onclick='SubmitReply(" + course_discussion_id + ")' type='submit' class='btn btn-primary' style='width:75px; margin-left:25px;' value='Post' />" +
            "</div></fieldset>";

        panel.append(ToAppend);

        var button = $("#discussion_reply_panel_" + course_discussion_id).hide();
    }

    function SubmitReply(course_discussion_id) {
        var data = $("#SubmitReply_" + course_discussion_id).serialize();
        var appendix = $("#reply_panel_" + course_discussion_id);

        var dt = new Date();
        var hours = dt.getHours();
        var minutes = dt.getMinutes();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12;
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var time = hours + ":" + minutes + " " + ampm;

        $.ajax({
            type: "Post",
            url: "/StudentInvitation/SaveReplyInDatabase",
            data: data,
            success: function (cd_reply_post) {
                var ToAppend = "<div id='discussion_reply' style='height:100%; width:100%; float:left; border-radius:10px; border:1px solid #DCDCDC; padding:25px;'>" +
                    "<div style='font-weight: bold; text-align:left;' id='user_name'>Jan Richard Buniel <a class='ui tag teal label' style='margin-left: 15px; cursor:default;'>Reply</a></div>" +
                    "<div id='datetime' style='text-align:left;'>" + time + "</div>" +
                    "<br />" +
                    "<div id='post_content' style='text-align:left;'>" +
                    cd_reply_post +
                    "</div>" +
                    "</div>";

                appendix.append(ToAppend);

                $("#SubmitReply_" + course_discussion_id).find("input:text").val("");
            }
        })
    }

    function isEmpty(obj) {
        for (var prop in obj) {
            if (obj.hasOwnProperty(prop))
                return false;
        }

        return true;
    }

    $(document).ready(function () {
        var name;
        var ext;
        $("#file").change(function () {
            var filepath = $("#file").val();
            var filename = filepath.replace(/^.*[\\\/]/, '');

            document.getElementById("filename").innerHTML = "<input id='filename_box' type='submit' class='btn btn-secondary disabled' value='"+ filename +"' />";
        });

        $("#SubmitPostButton").click(function () {
            var data = $("#SubmitPost").serialize();
            var formData = new FormData();
            var file = document.getElementById("file").files[0];
            formData.append("file", file);

            var post = document.getElementById("textarea1").value;
            var topic_id = @GroupId;
            formData.append("post", post);
            formData.append("topic_id", topic_id);

            var appendix = $("#discussion_entries");
            var dt = new Date();
            var hours = dt.getHours();
            var minutes = dt.getMinutes();
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12;
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var time = hours + ":" + minutes + " " + ampm;

            $.ajax({
                type: "Post",
                url: "/StudentInvitation/SaveInDatabase",
                data: formData,
                contentType: false,
                processData: false,
                success: function (ret) {
                    var ToAppend2 = "<div id='disc_reply_panel_" +
                        ret.discussion_id +
                        "'>" +
                        "<input id='discussion_reply_panel_" +
                        ret.discussion_id +
                        "' class='btn btn-light' value='Reply' style='min-width:100%; height:50px; border-radius:10px; border:1px solid #DCDCDC;' onclick='reply(" +
                        ret.discussion_id +
                        ")' readonly />" +
                        "</div>";

                    var reply = "<div id='reply_panel_" + ret.discussion_id + "'></div>";

                    var ToAppend = "<div class='ui blue ribbon label' style='margin-right:980px; margin-bottom:-20px; margin-top:20px;'>Post</div>" +
                        "<div id='discussion_entry_" + ret.discussion_id + "' style=' height:100%; width:100%; float:left; border-radius:10px; border:1px solid #DCDCDC; padding:25px;'>" +
                        "<div style='font-weight:bold; text-align:left;' id='user_name'>Jan Richard Buniel</div>" +
                        "<div id='datetime' style='text-align:left;'>" + time + "</div>" +
                        "<br />" +
                        "<div id='post_content' style='text-align:left;'>" +
                        $("#textarea1").val();
                        +"</div>" +
                        "</div>" +
                        "<div id='reply_panel_" + ret.discussion_id + "'></div>";


                    var single_entry_div = "<div id='discussion_single_entry_" + ret.discussion_id + "'></div>";
                    appendix.prepend(single_entry_div);
                    var first_append = $("#discussion_single_entry_" + ret.discussion_id);

                    first_append.append(ToAppend);
                    first_append.append(reply);
                    first_append.append(ToAppend2);

                    name = ret.full_file_name;
                    if (isEmpty(ret.filename) == false) {
                        document.getElementById("discussion_entry_" + ret.discussion_id).innerHTML += "<hr/><div style='text-align:left;'>Attached File: <a href='TopicDiscussion/Download?filename=" + ret.full_file_name + "'><input type='submit' class='btn btn-secondary' value='" + ret.filename + "'/></a></div>";

                    }

                    $("#textarea1").val("");
                    $("#filename_box").remove();
                    $("#file").val("");
                    $("#warning").remove();
                }
            })
        });

    });
</script>