﻿
@{
    ViewBag.Title = "UserList";
    var userList = (List<User>)ViewData["ListOfUsers"];
    var GroupId = Convert.ToInt32(Request.QueryString["GroupID"]);
}

<h2>Add Member For Group</h2><hr />
<table id="userTable" class="table">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Role</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in userList)
        {

            <tr>
                <th><a href="AddStudent?UserId=@item.schoolId&GroupId=@GroupId" class="btn btn-primary">+</a></th>
                <th>@item.schoolId</th>
                <th>@item.fname</th>
                <th>@item.mname</th>
                <th>@item.lname</th>
                <th>@item.userType</th>
            </tr>

        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th>ID</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Role</th>
        </tr>
    </tfoot>
</table>
<a href=" ../StudentInvitation/GroupDiscussion?GroupId=@GroupId" class="btn btn-primary">Return</a>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable({
                pageResize: true
            });
        });
    </script>
}